.modal-add-user {

    .img-preview {
        border: 1px solid red;
    }

    .label-upload {
        display: flex;
        align-items: center;
        gap: 5px;
        width: fit-content;
        border: 1px solid red;
        border-radius: 5px;
        padding: 3px 10px;
        background-color: #eeeeee;
    }

    :hover.label-upload {
        background-color: #c0a5a5;
        cursor: pointer;
    }

    .img-preview {
        height: 150px;
        display: flex;
        border: 1px dashed #ccc;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        color: #ccc;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.manager-user-main {
    padding: 10px;

    .manager-add-user {
        .add-user {
            display: flex;
            margin: 15px 0px;
            padding: 3px 10px;
            align-items: center;
            gap: 5px;
        }
    }
}