.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px;

    .left-content {
        width: 70%;
        /* Cố định chiều rộng để không bị co giãn theo nội dung */
        border: 2px solid rgb(205, 172, 172);
        padding: 20px;
        border-radius: 10px;
        height: 530px;

        .tittle {
            font-size: 30px;
            font-weight: 600;
        }

        .quiz-content {

            .question {
                font-size: 20px;
                font-weight: 600;
            }

            .answer {
                height: 115px;
            }
        }

        .footer {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        .footer .is-disabled {
            opacity: 0.4;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    .right-content {
        width: 30%;
        border: 2px solid rgb(205, 172, 172);
        border-radius: 10px;
    }
}