.question {
    display: flex;
    flex-direction: column; // xuống dòng (xếp dọc)
    align-items: center; // căn giữa theo ngang

    /* xếp theo cột => xuống dòng */
    /* cho phép xuống dòng */
    .q-Image {
        display: flex;
        margin-bottom: 30px;
        max-width: 300px;
        height: auto;
        height: 200px;

        .question-img {
            /* hoặc theo khung bạn muốn */
            object-fit: cover;
        }
    }
}

.answer {
    padding-left: 60px;
}